@model RegisterViewModel
    <link rel="stylesheet" href="~/css/login.css"/>

<div class="login-page">
    <div class="row">
        <div class="login-container">
            <div class="left-panel">
                <div>
                    <img src="~/img/sheaft_white.svg" alt="SHEAFT" />
                    <p class="left-panel-title">
                        SHEAFT
                    </p>
                    <p class="left-panel-phrase">
                    Vous avez déjà un compte ? C'est par ici !
                    </p>
                    <div class="left-panel-button-container">
                        <a class="left-panel-button" href="@Url.Action("Login", "Account", new { returnUrl = Model.ReturnUrl })">Je me connecte</a>
                    </div>
                </div>
            </div>
            <div class="form right-panel">
                <div class="form-container">
                    @if (Model.VisibleExternalProviders.Any())
                    {
                        <div class="text-center form-header">
                            <img src="~/img/sheaft_white.svg" alt="SHEAFT" />
                            <p class="right-panel-title">
                                Créez un compte via
                            </p>
                        </div>
                        <div class="external-providers text-center">
                            <ul class="list-inline">
                                @foreach (var provider in Model.VisibleExternalProviders.OrderBy(c => c.DisplayName))
                                {
                                    <li>
                                        <a class="btn btn-default external-a" asp-controller="External" asp-action="Challenge"
                                           asp-route-provider="@provider.AuthenticationScheme"
                                           asp-route-returnUrl="@Model.ReturnUrl">

                                            @if (provider.DisplayName == "Microsoft")
                                            {
                                                <span class="fab fa-microsoft"></span>
                                            }

                                            @if (provider.DisplayName == "Facebook")
                                            {
                                                <span class="fab fa-facebook-f"></span>
                                            }

                                            @if (provider.DisplayName == "Google")
                                            {
                                                <span class="fab fa-google"></span>
                                            }
                                            @if (provider.DisplayName == "Twitter")
                                            {
                                                <span class="fab fa-twitter"></span>
                                            }
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div class="text-center form-header">
                            <img src="~/img/sheaft_white.svg" alt="SHEAFT" />
                            <p class="right-panel-title">
                                Créez un compte via
                            </p>
                        </div>
                    }
                    <p class="right-panel-title text-center">ou créez un compte local</p>
                    <form asp-route="Register" class="login-form">
                        @Html.HiddenFor(m => m.ReturnUrl)
                        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                        <fieldset>
                            <label class="form-label" asp-for="LastName"></label>
                            <input type="text" class="form-control" asp-for="LastName" autofocus>
                            @Html.ValidationMessageFor(model => model.LastName, string.Empty)
                            <label class="form-label" asp-for="FirstName"></label>
                            <input type="text" class="form-control" asp-for="FirstName">
                            @Html.ValidationMessageFor(model => model.FirstName, string.Empty)
                            <label class="form-label" asp-for="Username"></label>
                            <input type="email" class="form-control" asp-for="Username">
                            @Html.ValidationMessageFor(model => model.Username, string.Empty)
                            <label class="form-label" asp-for="Password"></label>
                            <input type="password" class="form-control" asp-for="Password" autocomplete="off">
                            @Html.ValidationMessageFor(model => model.Password, string.Empty)
                            <label class="form-label" asp-for="ConfirmPassword"></label>
                            <input type="password" class="form-control" asp-for="ConfirmPassword" autocomplete="off">
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, string.Empty)
                            <br />
                            <button name="button" class="btn btn-primary action">Créer mon compte</button>
                            <a class="right-panel-mobile-button" href="@Url.Action("Login", "Account", new { returnUrl = Model.ReturnUrl })">J'ai déjà un compte</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>